.app.sheet.fleet.actor {
  .tab.summary {
    .character-summary {
      > div:nth-child(2) {
        border-right: none;
      }

      > div {
        flex: 0 0 50%;
      }
    }

    .info-box > div.value {
      flex-direction: row;

      .separator {
        padding: 0 4px;
      }

      :not(.separator) {
        flex: 1;
      }
    }

    .buffs-conditions {
      flex: 0;
      border: none;

      .condition {
        border: 1px transparent;
        border-radius: 10px;

        a.checkbox {
          display: flex;
          flex-flow: row nowrap;
          gap: 4px;

          align-items: center;
          color: var(--color-text-dark-primary);

          > img {
            border: none;
            &[src*=".svg"] {
              filter: invert(1);
            }
          }

          > .details {
            display: flex;
            flex-flow: row wrap;
          }

          .name {
            flex: 1 100%;
          }
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }

        &.active {
          font-weight: 600;
          background-color: rgba(0, 0, 0, 0.1);
          text-shadow: 0 0 8px red;

          &:hover {
            background-color: rgba(0, 0, 0, 0.15);
          }
        }

        &.active a.checkbox > img {
          filter: unset;

          &[src*=".svg"] {
            background: black;
          }
        }
      }
    }

    .subdetails-body {
      gap: 8px;

      h3 {
        border: unset;
        margin: 0;
      }
    }
  }

  .tab.squadrons {
    .header {
      flex: 0;
      display: flex;
      gap: 3px;

      /* > img {
        height: 100%;
        flex: 0 0 42px;
      } */

      > h1 {
        flex: 3 0 300px;
        margin: 0;
        line-height: 1.5em;

        > input {
          height: 100%;
        }
      }

      .inputs {
        flex: 2 0 100px;
        gap: 1px;
      }

      .squadron-controls {
        flex: 0 0 42px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .tab.settings {
    > ul {
      list-style: none;
      flex: 0;
    }
  }
}
