.app.sheet.fleet {
  .sheet-navigation .item.icon {
    flex: 0 0;
    padding: 0 8px;
  }

  .item-controls {
    flex: 0 0 68px;

    &.one-button {
      flex: 0 0 32px;
    }

    &.two-button {
      flex: 0 0 48px;
    }

    &.five-button {
      flex: 0 0 110px;
    }
  }

  .item-detail {
    > select {
      border-style: none;
      padding: 0;
      height: 24px;
    }

    /* sig char stuff */
    &.item-actor {
      flex: 1;
    }

    &.item-location {
      flex: 0 0 150px;
    }
    
    &.item-boon {
      flex: 0 0 150px;
    }
    
    &.item-squadron {
      flex: 0 0 150px;
    }

    /* squadron stuff */
    &.item-ship-name {
      flex: 1;

      .disabled {
        text-decoration: line-through;
        color: var(--pf1-tan);
      }
    }
  }
}

.app.sheet.fleet input[type="number"] {
  text-align: center;
}

.app.sheet.fleet .info-box select {
  flex: 0 0 21.5px;
  text-align: -webkit-center;
  border: unset;
}

.app.sheet.fleet :is(span.text-box, input.text-box) {
  width: 100%;
}
